<table class="table align-middle mb-0 bg-white mt-5">
  <thead class="bg-light">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      
    </tr>
  </thead>
  <tbody *ngFor="let user of AllUsers">
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="https://img.freepik.com/premium-vector/avatar-profile-icon_188544-4755.jpg"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">{{user.name}}</p>
          </div>
        </div>
      </td>
      <td>
        <p class="text-muted mb-0">{{user.email}}</p>
      </td>
      <td>
        {{user.address}}
      </td>
      
    </tr>
    
  </tbody>
</table>
