<td>
  <div class="d-flex align-items-center">
    <img
      src="https://img.freepik.com/premium-vector/avatar-profile-icon_188544-4755.jpg"
      alt=""
      style="width: 45px; height: 45px"
      class="rounded-circle"
    />
    <div class="ms-3">
      <p class="fw-bold mb-1">{{ data.name }}</p>
    </div>
  </div>
</td>
<td>
  <p class="text-muted mb-0">{{ data.email }}</p>
</td>
<td>
  {{ data.address }}
</td>
<td>
  <button class="btn btn-primary" (click)="editUser()">Edit</button>
   &nbsp;
  <button class="btn btn-danger" (click)="deleteUser(data)">Delete</button>
</td>
